<footer class="bg-light text-center custom-footer mt-5">

  <div class="container p-4">

    <div>
      <h4>Mis redes sociales</h4>
    </div>

    <section class="mb-4">

      <a class="btn btn-primary btn-floating m-1" style="background-color: #dd4b39"
        href="mailto:santaellamorenofrancisco@gmail.com" role="button"><i class="fab fa-google"></i></a>

      <a class="btn btn-primary btn-floating m-1" style="background-color: #0082ca"
        href="https://www.linkedin.com/in/francisco-moreno-santaella-50302522b/" role="button"><i
          class="fab fa-linkedin-in"></i></a>

      <a class="btn btn-primary btn-floating m-1" style="background-color: #333333"
        href="https://github.com/FranciscoMorenoSantaella" role="button"><i class="fab fa-github"></i></a>
    </section>

    <section>
      <p>
        Puedes descargarte mi curriculum aquí:
      </p>
      <a href="https://drive.google.com/file/d/171DjiVdTNUpFH6Ad7G-IHpJk2-fthhRw/view?usp=sharing"><button
          class="btn btn-primary">Curriculum Vitae <i class="fa-solid fa-download"></i></button></a>
    </section>

  </div>

  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2024 Copyright - Francisco Antonio Moreno Santaella
  </div>


</footer>